.record {
    border: 0.1em #33C3F0 solid;
    margin: 0.5em;
    border-radius: 0.2em;
    padding: 0.7em;
}

.record .id {
    float: left;
    padding: 0.7em 0.5em 0.7em 0.4em;
    margin: 0 1em 0 0;
    border-right: 0.1em #33C3F0 solid;
}

.record .animal-name {
    font-size: 120%;
}

.record .outputs{
    overflow-x:scroll;
}

.record .outputs td{
    text-align: center;
}


td.top-match,
td.bottom-match {
    background: lightgreen;
}

td.top-regular,
td.top-before,
td.top-after,
td.bottom-regular,
td.bottom-before,
td.bottom-after {
    background: #EEE;
}
